/* styling for each cast member */
/* includes photo, character name, actor name */


.castMember {
    width: 47%;
    padding: 10px;
    margin: 0.5rem 0;
    border: 1px solid #FCA311;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 2px black)
}

.castMember p {
    display: block;
    text-align: center;
}

.castMember img {
    filter: drop-shadow(2px 2px 2px black)
}

@media (min-width: 1050px) {
    .castMember {
        padding: 15px;
        width: 23%;  
    }
}