/* styling for each cast member */
/* includes photo, character name, actor name */


.castMember {
    border: 2px solid blue;
    width: 50%;
    
}

.castMember p {
    display: block;
}

@media (min-width: 1050px) {
    .castMember {
        width: 25%;
    }
}