.desktopNav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #14213D;
    color: #FCA311;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid red;
  }
  @media (min-width: 760px) {
    .desktopNav {
      justify-content: space-between;
      padding-left: 25px;
    }
  }
  
.navLogos {  
  /* logo and logotext on left */
  display: flex;
  align-items: center;
  max-width: 320px;
}

.logoText {
  font-family: 'Special Elite', cursive;
  font-size: 38px;
  padding: 0 5px;
}

.logo {
  color: #FCA311;
  height: 80px;
  width: 80px;
}

.textNavMenu {
  /* Home, Favorites, About on right side */
  display: none;
  justify-content: space-around;
  align-items: center;
}

.navLink {
  padding: 40px;
}

@media (min-width: 760px) {
  .textNavMenu {
    display: flex;
  }
  .navLink {
    padding: 40px 60px;
  }
}




.navLink,
.navLink:visited {
  color: #FCA311;
  text-decoration: none;
}

.navLink:focus,
.navLink:hover,
.navLink:active {
  color: #FCA311;
  text-decoration: underline;
}