.desktopNavWrap {
  display: flex;
  justify-content: center;
}


.desktopNav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #14213D;
  color: #FCA311;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1328px;
}

@media (min-width: 850px) {
  .desktopNav {
    justify-content: space-between;
    padding-left: 25px;
  }
}
  
.navLogos {  
  /* logo and logotext on left */
  display: flex;
  align-items: center;
  max-width: 320px;
  filter: drop-shadow(5px 5px 4px black);
}

.logoText {
  font-family: 'Special Elite', cursive;
  font-size: 38px;
  padding: 0 5px;
}

.logo {
  color: #FCA311;
  height: 80px;
  width: 80px;
}

.textNavMenu {
  /* Home, Favorites, About on right side */
  display: none;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.logoNavLink {
  color: #FCA311;
  text-decoration: none;
}

a.currentPage {
  padding: 40px;
  text-decoration: underline;
}

a.notCurrentPage {
  padding: 40px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 850px) {
  .textNavMenu {
    display: flex;
  }
}
@media (min-width: 975px) {
  a.currentPage,
  a.notCurrentPage {
    padding: 40px 60px;
  }
}

a.currentPage:visited,
a.notCurrentPage:visited,
a.currentPage:focus,
a.notCurrentPage:focus,
a.currentPage:hover,
a.notCurrentPage:hover,
a.currentPage:active,
a.notCurrentPage:active {
  color: #FCA311;
  text-decoration: none;
}

