.sort {
    margin-bottom: 15px;
    background-color: black;
    color: #FCA311;
    text-align: center;

}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.sort li {
    padding: 10px 0;
    border-top: 1px solid #FCA311;
    
}

.sort li:last-child {
    border-bottom: 1px solid #FCA311;
}
.sort a {
    text-decoration: none;
    color: #FCA311;
}