/* heart icon */



.heart {
    height: 35px;
    width: 35px;
    margin-right: 5px;
    filter: drop-shadow(5px 5px 5px black)
}

@media (min-width: 550px) {
    .heart {
        height: 40px;
        width: 40px;
    }
}

