body {
  margin: 0;

  background-color: #14213D;
  color: white;

  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  position: relative;
  margin-top: 95px;
}

