body {
  margin: 0;

  background-color: #14213D;
  color: white;

  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-container {
  position: relative;
  min-height: calc(100vh - 160px);
}
.content-wrap {
  margin: 100px auto 60px;
  padding-bottom: 70px;
}

h2 {
  text-align: center;
  padding: 0 10px;
}

p.message {
  margin: 0 1.5rem;
}
