.mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    z-index: 10;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #FCA311;
    text-decoration: none;
    color: #14213D; 
    box-shadow: 0 -10px 25px black;
}

@media (min-width: 850px) {
    .mobileNav {
    display: none;
    }
}

.link {
    display: inline-block;
    width: 33%;
}

.clickableArea {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 35px;
    width: 35px;
}

.notCurrentPage {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.currentPage {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #14213D;
}
