/* styling for each set of movie data (img, title, summary, etc.) */
/*  */

/* .movies is ALL the movies */
.movies {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 5%;
   color: white; 
}
