/* styling for each set of movie data (img, title, summary, etc.) */
/*  */

/* .movies is ALL the movies */
.movies {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0 5%;
   color: white; 
}

/* .movie is each single movie div */
.movie {
   max-width: 45%;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   text-align: left;
}

.poster {
   position: relative;
}

.movie h3 {
   width: 100%;
   margin: 0.75rem 0 0;
   font-size: 14px;
}

.belowPoster {
   display: flex;
   flex-wrap: wrap;
}

.date p {
   margin: 0.25rem 0 0.75rem;
   font-size: 12px;
}

.dateHeart {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}