/* Rating Circle Styling */

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right:5px;
    height: 50px;
    width: 50px;
    background-color: #14213D;
    border-radius: 50%;
    border: 2px solid #FCA311;
    font-size: 18px;
    color: #FCA311;
}

.topRatingCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 65px;
    width: 65px;
    background-color: #14213D;
    border-radius: 50%;
    border: 3px solid #FCA311;
    font-size: 24px;
    color: #FCA311;
}

.percent p {
    margin: 0;
    padding: 0;
}