/* Rating Circle Styling */

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right:5px;
    height: 50px;
    width: 50px;
    background-color: #14213D;
    border-radius: 50%;
    border: 2px solid #FCA311;
    font-size: 18px;
    color: #FCA311;
}

@media (min-width: 550px) {
    .circle {
        width: 75px;
        height: 75px;
        right: 25px;
        top: 25px;
        font-size: 26px; 
        border: 3px solid #FCA311;
    }
}

.percent p {
    margin: 0;
    padding: 0;
}