nav {
    color: #FCA311;
    position: fixed;
    top: 0;
    border: 2px solid red;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    
  }
  
  .navLink {
      
      padding: 40px;
  }


  .navLink,
  .navLink:visited {
    color: #FCA311;
    text-decoration: none;
  }
  
  .navLink:focus,
  .navLink:hover,
  .navLink:active {
    color: #FCA311;
    text-decoration: underline;
  }