.singleMovie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 6.5rem 3rem 4.6rem;
}

/* add media query to change flex direct to row once big enough */

.movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.movie h2 {
    text-align: left;
    padding: 1.5rem 0 0;
}
.movie p {
    text-align: left;
    padding: 0.25rem 0;
}

p.overview  {
    padding-top: 0.5rem;
    text-align: left;
}

.singleMoviePoster {
    display: inline-block;
    position: relative;
    max-width: 500px;
    filter: drop-shadow(5px 5px 5px black)
}

.singleMovieInfo {
    position: relative;
    text-align: left;
    width: 100%;
    max-width: 500px;
   
}

/* p.date {
    border: 2px solid magenta;
} */

.singleMovieInfo img {
    /* heart */
    /* position: absolute;
    right: 0;
    top: 0; */
    display: inline;
    position: relative;
}

p.inline {
    display: inline;
}

p.genres:after {
    content: ', ';
}
p.genres:last-child:after {
    content: '';
}

@media (min-width: 1120px) {
    .singleMovieInfo {
        max-width: 450px;
        margin-left: 3rem;
    }
    .singleMovieInfo img {
        /* heart */
        position: absolute;
        right: 25px;
        top: 25px;
        height: 45px;
        width: 45px;
    }
    .singleMoviePoster div {
        /* Rating Circle */
        position: absolute;
        width: 65px;
        height: 65px;
        right: 25px;
        top: 25px;
        font-size: 22px;
    }
}




