/* Styling for Top Movie on home page */

.topMovie {
    text-align: center;
    
}

.topMoviePoster {
    position: relative;
}

.topMovie img {
    box-shadow: 0px 5px 40px black;
}
.topMovie h3 {
    font-size: 16px;
    margin: 0.75rem 1rem;
}
.date p {
    font-size: 12px;
    padding-bottom: 1rem;
}

/* not taking effect....why not?? */
.topMovie .circle div {
    height: 70px;
    width:  70px;
    top: 10px;
    right: 10px;
    border: solid 3px aqua;
}

.topMovie .heart img {
    height: 45px;
    width: 45px;
    border: 3px dashed green;
}